body {
	background: #ffffff;
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}
button {
	cursor: pointer;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: bolder;
}
p {
	font-family: "Work Sans", sans-serif;
	font-size: 1.2rem;
}
nav {
	box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.116);
	padding-bottom: 0.1rem;
	min-width: fit-content;
}
nav .logo {
	left: 2rem;
	top: 0.5rem;
	width: 14rem;
	position: absolute;
}
nav ul {
	display: flex;
	margin-left: 50rem;
	place-items: center;
	justify-content: space-around;
	list-style: none;
	font-family: "Work Sans", sans-serif;
}
nav ul li a {
	font-size: 0.9rem;
	color: #2e2828;
	text-decoration: none;
	cursor: pointer;
}
.blue_btn > li > a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.blue_btn {
	color: white;
	top: 0;
	right: 0;
	position: relative;
	background-color: #033399;
	border: none;
	padding: 14px 25px;
	border-radius: 10px;
	font-family: "Work Sans", sans-serif;
}
.banner {
	margin: auto;
	position: relative;
	display: flex;
}
.banner_text > h1 {
	width: 75%;
}
.banner_text {
	margin-top: 5rem;
	float: left;
	margin-left: 6rem;
}
.banner_img {
	right: 0;
	height: auto;
	position: relative;
}
.banner_img img {
	margin-top: 0;
}
.section_1 {
	text-align: center;
	margin-top: 13rem;
	height: 100px;
	color: black;
}
.sect1_imgs div img {
	width: 100%;
}
.one,
.two,
.three {
	width: max-content;
	height: max-content;
}
.sect1_imgs {
	display: flex;
	justify-content: space-evenly;
}
.one p,.two p,.three p{
	display: flex;
	justify-content: space-around;
}
.see_more {
	background: #ffffff;
	border: 1px solid #033399;
	padding: 12px 20px;
	border-radius: 10px;
	margin-top: 30px;
}
.section_2 > div {
	text-align: left;
}
.section_2 .txt {
	position: relative;
	top: 80px;
}
.section_2 {
	display: flex;
	padding: 10rem 5rem;
}
.sub_section{
	justify-content: center;
	display:grid;
	grid-template-columns:repeat(2,300px);
	height:60vh;
 margin-top: 0;
}
.sub_section p span{
	font-weight: 700;
	font-size:3rem;
	color:rgb(206, 109, 45);

}
.reviews{
	height:90vh;
}
.nav_btn{
padding:5px 10px;
border: 1px solid grey;
border-radius: 10px;
margin: 60px;
font-size: 50px;
font-weight: bolder;
box-sizing: border-box;
color:#033399;
background-color: #ffffff;
}
.reviews .reviews_container{
	display: flex;
justify-content:space-evenly;
}
.reviews_container .bar{
	border:1px solid rgb(185, 178, 178);
	border-radius: 20px;
	padding:10px 30px;
	margin-bottom:30rem;
	margin-right: 1rem;
width:50%;
font-size: 1rem;
}
.reviews_container .name{
	display: flex;
}
.reviews div p{
	display: flex;
	text-align: left;
}
.reviews div img{
margin-right: 30px;
}
.newsletter{
display:flex ;
flex-direction: column;
justify-content: center;
	margin:3rem auto 150px ;
	width:80vw;
 background-color: rgb(243, 239, 239);
	border-radius: 15px;
}
.newsletter input[type="email"]{
	padding:15px 30px;
	border-radius: 8px;
	outline:none;
	border:1px solid grey;
}
.footer{
	height:60vh;
	min-width:100%;
	background-color:#cbd3e4 ;
} 
@media only screen and (max-width:768px){
*{
	max-width:100%;
	text-align: center;
}
	h1{
		padding:0;
		margin: auto;
	}
nav li{
	display: none;
}
.banner{
display: block;
margin-top:3rem;
}

.banner_text{
	text-align: center;
	margin:0;
 width:100%;
}
.section_1 div,.section_2 div{
display:inline-block;
text-align: center;
}
.section_2 div img{
margin-top: 7rem;
}
.reviews_container .bar p,.name {
display: inline-block;
}
.reviews_container .name{
	display: inline-block;
}

}
